@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #5E463B;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.3rem;
    
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    font-family: 'Quicksand', sans-serif;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(169, 144, 126);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 100;
}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    height: 4rem;
}
.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    color: white;
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}

.icons{
    margin-left: 30px;
}
.icons img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icons img:hover{
    transform: translateY(-5px);

}

section{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    justify-content: center;
    background-color: #5E463B; ;
   

}

.Benefits{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 8px;
    padding: 30px;

}
.Benefits-of-Chocolate{
    width: 260px;
    background-color: #F3EEEA;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}
.Benefits-of-Chocolate:hover{
    transform: translateY(-20px);
}
.Benefits-of-Chocolate img{
    width: 360px;
    height: 260px; 
    object-fit: cover;
    position: relative;
    box-shadow: 0 5px 20px rbga(0,0,0,1.2);;
    max-width: 100%;
    border-radius: 5px;
}
.Content{
    padding: 10px;
}
.Content h1 {
    font-size: 20px ;
    margin-bottom: 10px ;
    color: #6B240C;
}
.Content p {
    font-size: 18px;
    color: #22092C;
    margin-bottom: 20px;
}

.button{
    font-size: 200%; 
    display: inline-block;
    background-color: #B19470;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 30px ;
    top: -60px;
}
.contenar{
    
    font-size: 150%;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: #987e65;
}

.border{
    width: 600px;
    text-align: center;
    border: 8px;
    padding: 17px 0;
}

.text-light{
    color: #2b2624;
    line-height: 80px;
    font-size: 50px;

}
.swiper {
    width: 600px;
    height: auto;
  }

.swiper .swiper-slide .flex{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-slide .comments{
    background-color:wheat;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid wheat;
    z-index: -99;
}
.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 10px;
}

.swiper .profile img{
    width:200px;
    border-radius: 200px;
    border: 5px solid rgb(60, 52, 43);
    margin: 10px 0;
}


.swiper .swiper-button-prev, .swiper-button-next{
    color: #2b2624;
    display: initial;
    
} 

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}
.footer{
	background-color: #2b2624;
    padding: 60px 10px;
}
.footer-col{
   width: 30%;
   padding: 0 5px;
   margin:  10px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 40px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #c79760;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration:none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    margin-left: 10px;
	color: #ffffff;
	padding-left: 8px;
    background:rgba(241, 212, 192, 0.187);
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #edabce4c;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ab9388;
	background-color: #ffffff;
}
.About{
    text-align: center;
margin-left: -120px;
margin-right: 190px;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.3rem;
    
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}

.header{
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(169, 144, 126);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 100;
}
.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    height: 4rem;
}
.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.header .navbar a:hover{
    color: white;
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}

.icons{
    margin-left: 30px;
}
.icons img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.icons img:hover{
    transform: translateY(-5px);

}




